{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About section -->
<section id="about" class="bg-body-tertiary p-3 text-dark bg-opacity-10">
    <div class="container introduction pb-4">
        <div class="row d-flex justify-content-center">
            <div class=" col-md-5 offset-0">
                <img src="{% static 'images/maharashtraimage.jpg' %}" style="height:250px;" alt="">
            </div>
            <div class="col-md-15 mt-5">
                <h1 class=" text-right"></h1>
                <h4 class="text-right"> The wealthiest state in India.Maharashtra is the third-largest in size and second-largest in population. It is situated
                in the western part of the country - the Deccan. The capital of Maharashtra is Mumbai which is also
                known as the financial capital of India. Satara port town in Maharashtra has always been the hub of trade and
                commercial activities.</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-20">
                <h3 class="text-center"> <i class="fa-solid fa-flag"></i> History </h3>
                <p>Going by the Archaeological pieces of evidence the history of Maharashtra dates back to the 3rd
                    century. An excavation survey conducted in 1958 suggests Daimabad, a site in Ahmednagar district of Maharashtra
                    belonging to Harappan civilization. The Vatakas, Rashtrkutas, Chalukyas, Yadavas had been few Hindu dynasties
                    that reigned the Marathwada and Vidarbha regions. In the year 1296 AD, Ala-ud-din Khalji invaded the Deccan region by
                    defeating the Yadavas. Then came the Tughlaq Dynasty who reigned till 1347 AD and extended the empire till Madurai
                    followed by the Bahmani Sultanate of Bijapur who ruled the region for 150 years. By the year 1674, the Bijapur
                    Sultanate went in control of the Maratha Empire that was led by the legendary Chhatrapati Shivaji. After his death in the year
                    1680, his two sons Sambhaji and Rajaram ruled the Maratha Empire. From 1712 to 1804, the Peshwa Dynasty took the
                    Maratha Kingdom. During their reign, the region was basking in glory until the three Anglo - Maratha wars when the Peshwas
                    succumbed to British
                    tyranny which marked the beginning of the British Era in India. The region was governed by the
                    Bombay Presidency in the
                    years 1848 and 1853 which included most parts of northern Deccan until India got independence in
                    1947. The state went
                    through plenty of political overhauling and in the year 1960, the Bombay Reorganization Act was
                    passed and it emerged as
                    the modern state of Maharashtra. This year remains a hallmark in the history of Maharashtra.</p>
            </div>
            <img src="{% static 'images/history.jpg' %}" style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-hands-praying"></i> Culture</h3>
                <p>Maratha rulers left behind grandeur and verve that enriches the cultural heritage of the state.
                    Various cultural
                    affiliations blend together to live harmoniously in the land of prosperity. Maharashtra is divided
                    into small regions
                    and each region is diverse in the form of dialects, folk songs, food, ethnicity. Maharashtra is a
                    melting pot of
                    different races, traditions, and classes. The engaging traditions of Waghya Murali, Potraj, Vasudev,
                    and Gondhali
                    communities have kept alive their unique cultures and vibrant art, adding charm to the cultural
                    vibrancy of the state.
                    Hindus, Muslims, Jews, Buddhists, Zoroastrians (Parsis and Iranians), Christians, and Sikhs live
                    peacefully in the state
                    while the Deccan plateau of Maharashtra is home to tribal communities such as Bhils, Mahadeo, Kolis,
                    Gonds, and Warlis
                    that co-exist peacefully and follow their lifestyles and traditions. 83% of the Maharashtrian are
                    Hindus, however, there
                    has been a prevailing sense of secularism in the state that embraces other religions with great
                    respect and diversity
                    inclusion. Maharashtrians are amiable and cordial and treat outsiders with love and gratitude.
                    Marathi is the regional
                    language of the state and there are 38 other languages spoken by Adivasis, tribals, nomadic tribes,
                    and denotified
                    communities making it one of the most linguistically wealthy states of India.</p>
            </div>
            <img src="{% static '/images/culture of maharashtra.jpg' %}"style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-hands"></i>Art And Handicraft </h3>
                <p>Maharashtra is one of the leading cotton-producing states in the country and its rich culture and
                    heritage rooted in
                    myriad traditions and art forms have been preserved over the centuries. Once used to make clothes
                    for nobles, Mashru and
                    Himroo fabrics owe the opulence due to the use of gold and silver threads for weaving that has
                    originated from the
                    Aurangabad district in the Marathwada region. Sawantwadi crafts are lacquer crafts used in crafting
                    lacquered furniture
                    and light fittings that are quite famous in the International market. Paithani pure silk woven
                    sarees are quite
                    expensive and worn at marriages and festivals. Narayan Peth saris, woven from cotton and silk have
                    been a part of
                    Maharashtra’s culture since 200 BCE. Warli paintings, a tribal art form are mural paintings dated
                    back to 2000 BCE.
                    Bidri ware is an ancient craft from Aurangabad that involves intricate workmanship of pure silver.
                    Kolhapuri chappals
                    are famous handmade slippers made of buffalo hide. Traditional jewelry - Kolhapuri Saaj (a necklace)
                    and Nath (a nose
                    ring) are made of pure gold and were worn by the royals of Maratha and Peshwa kingdoms. Vivacious
                    folk and traditional
                    dance forms and music represent the vibrant Marathi culture. Lavani is a traditional dance form,
                    Tamasha is the most
                    popular form of folk theatre, Koli dance is performed by the fishermen community, Natya Sangeet is
                    200 years old
                    traditional art form of Maharashtra. The state is famous for Hindi Film Industry and it is a land of
                    artists of the
                    avant-garde</p>
            </div>
            <img src="{% static '/images/art of maharashtra.jpg' %}"style="height:400px;" alt="">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h3 class="text-center"><i class="fa-solid fa-pepper-hot"> </i>Traditional Costumes</h3>
                <p>The mildly spicy cuisine of Maharashtra is delectable and has a distinctive flavor. From subtly
                    flavored vegetarian
                    delicacies to hot aromatic meat and fish curries, Maharashtrian cuisine is immensely popular. Sweet
                    savories are usually
                    prepared from rice and jaggery. The staples of the state include wheat, rice, Jawar, Bajra,
                    vegetables, lentils,
                    seasonal fruits, and vegetables. Also, peanuts Kokum, Amsul, tamarind, raw mango, and coconut are
                    some of the special
                    ingredients that are widely used in dishes. Pithla Bhakri, Sol Kadhi, Kothimbir Vadi, Aluvadi, Mix
                    Veg Kolhapuri,
                    Sabudana Vada and khichdi, Pohe, Batata Bhaji, Amti, Taambda Rassa, Pandhra Rassa, Bharli Vangi are
                    some of the
                    traditional dishes from Maharashtrian households that are unique in flavor. Modak, Puran Poli,
                    Shrikhand, Amrakhand are
                    some of the famous sweet servings that are subtle and mild in taste. Misal Pav, Vada Pav, Pav Bhaji,
                    Ragda Pattice are a
                    few of the famous street foods of the state. Maharashtrian food is blended with flavors, packed with
                    nutrition, and
                    served with love.</p>
            </div>
            <img src="{% static '/images/food of maharshtra.jpg' %}" style="height:400px;"alt="">
        </div>
    </div>
    {% endblock %}