{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Food section -->
<section id="food" class="bg-success p-4 text-dark bg-opacity-10">
    <div class="container introduction pb-4">
        <div class="row d-flex justify-content-center">
            <h2 class="text-center"> Traditional food of Maharashtra.</h2>
            <div class="col-md-15 mt-5">
                <h1 class=" text-right"></h1>
                <h4 class="text-right"> The state of Maharashtra is not only known for its Bollywood culture. There are a lot of Maharashtrian cuisines that are consumed and liked in all over India. Most of the famous food of Maharashtra is vegetarian. Although you will find a lot of non-veg food in the Malvani region. 

                    The main food of Maharashtra is made up of wheat, rice, jowar, peanuts, a lot of spices, herbs, coconut oil,  etc. As Maharashtra being a large state the food habits of peoples also varies from region to region</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/Puranpoli-Featured.jpg' %}"  alt="Puran Poli">
                </div>
            <div class="col-md-9">
                <h3 class="text-left"> Puran Poli</h3>
                <p>This dish is loved by the Marathi people. Basically, this dish is a sweet version of a paratha. The puran poli's stuffing consists of jaggery and chana dal. This filling is put inside a ball of dough and rolled out as a paratha. Every Maharashtrian home prepares this delicious delicacy for celebratory occasions.</p>
            </div>
            <div class="row mt-3">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/vadapav.jpg' %}"  alt="Vada Pav">
                </div>
            <div class="col-md-9">
                <h3 class="text-left"> Vada Pav</h3>
                <p>Vada Pav is a savory and spicy soft dinner rolls or fluffy buns, referred to as Pav, stuffed with a fried batter coated potato dumpling fritter called Batata Vada and laced with spicy and sweet chutneys. It is a popular vegan street food snack eaten in Mumbai and rest of the Maharashtra state in Western India. This dish is filling, delish, full of flavors and has various textures!</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/thalipeeth1.jpg' %}" alt="Thalipeeth">
                </div>
            <div class="col-md-9">
                <h3 class="text-left"> Thalipeeth </h3>
                <p>Thalipeeth is one of the most protein-rich foods of Maharashtra people. It is multigrain bread prepared by rice, wheat, bajra, jowar, chana, urad, etc.  Apart from that coriander seeds, cumin seeds, green vegetables are also used. It is one of the tastiest traditional food of Maharashtra.
                    Thalipeeth is also popular in some parts of Karnataka and Goa. Depending upon the location you will find different variations of Thalipeeth</p>
                
            </div>
            <div class="row mt-3">
                <div class="row d-flex justify-content-left">
                    <div class=" col-md-3">
                        <img src="{% static 'images/sabudana-khichdi.jpg' %}" alt="Sabudana Khichadi">
                    </div>
                <div class="col-md-9">
                    <h3 class="text-left"> Sabudana Khichadi </h3>
                    <p>Sabudana Khichadi can be placed among the 10 most popular Maharashtrian dishes. It is easy to made and nutrient-rich item. Maharashtrians people eat it during many religious fast. 

                        Apart from that, in the morning you will find Sabudana Khichadi at every corner of Mumbai. Many people who don’t have breakfast at home eat Sabudana Khichadi.
                        
                        It has a good amount of protein and comes under very healthy food. You can have Sabudana Khichadi in breakfast along with tea.</p>
                </div>
                <div class="row mt-3">
                    <div class="row d-flex justify-content-left">
                        <div class=" col-md-3">
                            <img src="{% static 'images/modak1.jpg' %}" alt="Modak">
                        </div>
                    <div class="col-md-9">
                        <h3 class="text-left"> Modak </h3>
                        <p>Modak is the sweet dish of Maharashtra which is cooked on Ganesh Chaturthi. When I saw it the first time I mistook it as Momos. It just looks like them from outside and its outer layer is also made up of maida(wheat is also mixed) similar to Momos. Its inner part is made up of coconut and jaggery.</p>
                        
                    </div>
            <div class="row mt-3">
            <div class="row d-flex justify-content-left">
                <div class=" col-md-3">
                    <img src="{% static 'images/pithla-bhakri-1024x683.jpg' %}" alt="Pithla Bhakri">
                </div>
            <div class="col-md-9">
                <h3 class="text-left"> Pithla Bhakri </h3>
                <p>Pithla Bhakri is one of the most popular staple foods of rural Maharashtra. Pithla is made from Chickpea flour/ Gram flour and is very tasty. Bhakri is round bread made up of mainly wheat or bajra. Nowadays Pithla Bhakri is gaining some traction in cities also</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}